@import "../../_assets/scss/abstractions/variables.scss";

.table-accidents {
  width: 80%;
  margin-top: 30px;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
}
.table {
  min-width: 100px;
}
