@import "_assets/scss/abstractions/variables.scss";

//left&right controllers
.sc-ifAKCX.dvxQVR {
  background-color: #fff;
  width: 50px;
  height: 50px;
  margin-top: 90px;
  border: 1px solid $outline;
  border-radius: 100%;
  font-size: $small;
  font-weight: bold;
  opacity: 0.8;
}
