@import "_assets/scss/abstractions/variables.scss";

.main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.home-button {
  background: transparent;
  color: $blue;
  border: 3px solid $blue;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font: 24px "Margarine", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: $normal;
}

.name {
  width: 100%;
  text-align: center;
  padding: 0 0 3rem;
  font: 500 14px "Rubik", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.button-hand .home-button {
  &:before {
    content: "👇";
    position: absolute;
    font-size: 60px;
    transform: scaleX(-1);
    right: 0px;
    top: -68px;
    animation: up-down 1s infinite;
  }
  .hands {
    &:before,
    &:after {
      content: "👇";
      position: absolute;
      font-size: 40px;
      opacity: 0;
      transition: 0.4s ease-in-out;
    }
    &:before {
      transform: rotate(-60deg);
      left: -45px;
      top: -10px;
    }
    &:after {
      transform: rotate(170deg);
      right: 30px;
      top: 50px;
    }
  }
  &:hover .hands {
    &:before {
      position: absolute;
      opacity: 1;
      left: -35px;
    }
    &:after {
      position: absolute;
      opacity: 1;
      top: 40px;
    }
  }
}

@keyframes up-down {
  50% {
    margin-top: -20px;
  }
}
