.form-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-form {
  display: flex;
  margin-top: 25px;
  text-align: center;
  justify-content: center;
}

.inputs-signup {
  text-align: center;
}

.signup-title {
  text-align: left;
}
