@import "_assets/scss/abstractions/variables.scss";

.MuiTabs-scroller .PrivateTabIndicator-colorPrimary-53 {
  background-color: $blue;
}

.MuiTabs-flexContainer {
  .MuiTab-textColorPrimary.Mui-selected {
    color: $gray;
    font-weight: bold;
  }
  @media (min-width: $mobile) {
    & {
      justify-content: center;
    }
  }
}

.tabs {
  background-color: white;
}
