.MuiTabs-scroller .PrivateTabIndicator-colorPrimary-53 {
  background-color: #2399f1;
}

.MuiTabs-flexContainer .MuiTab-textColorPrimary.Mui-selected {
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
}

.tabs {
  background-color: white;
}

.logo-bold .MuiTab-wrapper {
  font-weight: 700;
}
