@import "../../../_assets/scss/abstractions/variables.scss";

.MuiTabs-scroller .PrivateTabIndicator-colorPrimary-53 {
  background-color: $blue;
}

.MuiTabs-flexContainer .MuiTab-textColorPrimary.Mui-selected {
  color: $gray;
  font-weight: bold;
}
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary {
  font-size: 15px;
}
.tabs {
  background-color: white;
}
