@import "../../../_assets/scss/abstractions/variables.scss";

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-form {
  display: flex;
  margin-top: 25px;
  text-align: center;
  justify-content: center;
}

.profile-title {
  font-size: $big;
  font-weight: bold;
}

.inputs-profile {
  text-align: center;
  font-size: $small;
}
