@import "_assets/scss/abstractions/variables.scss";

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-form {
  display: flex;
  margin-top: 25px;
  text-align: center;
  justify-content: center;
  .profile-title {
    text-align: center;
    display: block;
    font-size: $big;
    font-weight: bold;
    padding: 30px;
    padding-top: 50px;
  }
}

.inputs-profile {
  text-align: center;
}
