@import "_assets/scss/abstractions/variables.scss";

.create-accident-form {
<<<<<<< HEAD
  padding: 20px;
=======
  padding: 40px;
>>>>>>> develop
  padding-top: 0;
  text-align: center;
  font-size: $small;
  @media (min-width: $mobile) {
    & {
      padding: 40px;
    }
  }
}
