@import "_assets/scss/abstractions/variables.scss";

.new-accident-input {
  border: 1px solid #dfdfdf;
  color: $gray;
  width: 100%;
  height: 50px;
  padding: 10px;
  padding-right: 60px;
  border-radius: 10px;
  font-size: $small;
  font-weight: bold;
  margin-bottom: 20px;
}

input.new-accident-input:focus {
  outline: none;
  border: 1px solid $blue;
}

.label {
  position: relative;
  text-align: left;
  width: 100%;
  &.input-file {
    width: 100%;
    text-align: right;
    padding: 20px;
  }
  @media (min-width: $mobile) {
    & {
      width: 524px;
    }
  }
}

.MuiSvgIcon-root.filled {
  color: $blue;
  position: absolute;
  font-size: $normal;
  top: 43%;
  left: 90%;
}

.MuiSvgIcon-root.cross {
  position: absolute;
  font-size: $normal;
  top: 43%;
  left: 95%;
}

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::after {
  content: "Select some files";
  display: inline-block;
  background: green;
  border-radius: 9px;
  padding: 8px 18px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: $small;
}

.custom-file-input:active {
  outline: 0;
}
