.error {
  background-color: #d32f2f;
  border-radius: 3px;
  color: #fff;
  padding-left: 10px;
}
.icon {
  font-size: 20;
}
#client-snackbar {
  display: flex;
  align-items: center;
}
.iconVariant {
  opacity: 0.9;
  margin-right: 10px;
}
