@import "_assets/scss/abstractions/variables.scss";

.main {
  background-color: $background;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $background;
}

div a {
  text-decoration: none;
  color: $outline;
}

li {
  list-style: none;
}
