@import "./_assets/scss/abstractions/variables.scss";

body {
  color: $black;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #eff3f6;
}

div a {
  text-decoration: none;
  color: $outline;
}
li {
  list-style: none;
}
