@import "_assets/scss/abstractions/variables.scss";

.viewpage {
  display: flex;
  justify-content: center;
<<<<<<< HEAD
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  @media (min-width: $mobile) {
    & {
      flex-direction: row;
    }
  }
=======
  flex-wrap: wrap;
  padding: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
>>>>>>> develop
}

.viewpage-title {
  display: block;
<<<<<<< HEAD
  font-weight: bold;
  font-size: $normal;
  padding-top: 30px;
  text-align: center;
  @media (min-width: $mobile) {
    & {
      padding: 30px;
      font-size: $big;
    }
  }
=======
  font-size: $big;
  font-weight: bold;
  padding: 30px;
  padding-top: 50px;
  text-align: center;
>>>>>>> develop
}

.viewpage-media {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  .media-item {
    width: 100%;
  }
  @media (min-width: $mobile) {
    & {
      width: 50%;
      padding: 5px;
      padding-left: 20px;
    }
  }
=======
  justify-content: center;
  align-items: center;
  width: 50%;
  .media-item {
    width: 100%;
  }
>>>>>>> develop
}
