.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  display: flex;
  margin-top: 25px;
  text-align: center;
  justify-content: center;
}

.inputs-login {
  text-align: center;
}

.login-title {
  text-align: left;
}
