@import "_assets/scss/abstractions/variables.scss";

.login-form {
  margin-top: 25px;
  text-align: center;
  font-size: $small;
}
.MuiFilledInput-root {
  background-color: #fff;
}
.MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputMarginDense.MuiFilledInput-inputMarginDense {
  width: 500px;
  margin-bottom: 10px;
}

.save-login {
  border: none;
  margin-top: 10px;
  padding: 5px;
  font-size: $small;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: $blue;
  border-radius: 5px;
}
